.heading{
    color : coral ;
    font-size: 2rem;
    margin: 40px;
}

.formContainer{
    padding: 20px;
    border: 1px solid cornflowerblue;
    width: 40%;
    margin: auto;
}

.input{
    border: 1px solid dimgray;
    padding:px ;
}